##### Assingments 
1.Example for all the methods of set

2.list vs tuple with example

3.similarity  of list and tuple 

4.list vs set with example

5.tuple vs set

6.convert set to list and tuple

7.Convert list and tuple to set

### 1.EXAMPLE FOR CONVERTING LIST TO TUPLE

In [100]:
l1 = [1,4,5,7]

In [101]:
t1 = list(l1)

In [102]:
print(t1)

[1, 4, 5, 7]

### 2. EXAMPLE FOR ALL THE METHODS OF SET

#### SET ADD () METHOD
        **Add an element to a set**

In [103]:
set1= {1,4,5,6}

In [104]:
set1.add(43)

In [105]:
print(set1)

{1, 4, 5, 6, 43}

#### SET CLEAR() METHOD
        **Remove all elements form a set**

In [106]:
set1

{1, 4, 5, 6, 43}

In [107]:
set1.clear()

In [108]:
print(set1)

set()

#### SET COPY() METHOD
            **Return a shallow copy of a set**

In [109]:
numbers ={1,2,3,4,5}

In [110]:
new_numbers = numbers.copy()

In [111]:
print(new_numbers)

{1, 2, 3, 4, 5}

#### SET DIFFERENCE METHOD
        **Return the difference of two or more sets as a new set. If A and B are two sets. The set difference of A and B is a set of elements that exists only in set A but not in B.**

In [112]:
a= {1,3,5,9}

In [113]:
b = {4,5,8}

In [114]:
print(a.difference(b))

{1, 3, 9}

In [119]:
a

{1, 3, 5, 9}

In [116]:
print(b.difference(a)) set.

{8, 4}

In [120]:
b

{4, 5, 8}

#### SET DIFFERENCE_UPDATE METHOD
        **The difference_update() updates the set calling difference_update() method with the difference of sets.**

In [118]:
A = {'a', 'c', 'g', 'd'}

In [121]:
B = {'c', 'f', 'g'}

In [123]:
print(A.difference_update(B))   #After this operation reult is none, A will be A-B and B remains unchanged

None

In [124]:
print(A)

{'a', 'd'}

#### SET DISCARD METHOD
            **The discard() method removes a specified element from the set (if present).**

In [128]:
numbers = {2, 3, 4, 5}

In [129]:
numbers.discard(3)

In [130]:
print(numbers)

{2, 4, 5}

#### SET INTERSECTION METHOD
        **The intersection() method returns a new set with elements that are common to all sets.**

In [131]:
A = {1, 2, 3, 4}

In [132]:
B = {2, 3, 4,  9}

In [134]:
C = {2, 4, 9,10}

In [135]:
print(B.intersection(A))

{2, 3, 4}

In [137]:
print(C.intersection(B))

{9, 2, 4}

In [138]:
print(C.intersection(A,B))

{2, 4}

#### SET INTERSECTION_UPDATE METHOD
    *The intersection_update() updates the set calling intersection_update() method with the intersection of sets*
        **result will be None
           A will be equal to the intersection of A, B and C
           B remains unchanged
           Cremains unchanged**

In [139]:
A = {1, 2, 3, 4}

In [140]:
B = {2, 3, 4, 5}

In [143]:
result = A.intersection_update(B)

In [144]:
print('result =', result)
print('A =', A)
print('B =', B)

result = None
A = {2, 3, 4}
B = {2, 3, 4, 5}

#### PYHTON SET ISDISJOINT()
        **The isdisjoint() method returns True if two sets are disjoint sets. If not, it returns False.

In [145]:
# Two sets are said to be disjoint sets if they have no common elements
A = {1, 2, 3, 4}

In [146]:
B = {5, 6, 7}

In [147]:
C = {4, 5, 6}

In [148]:
A.isdisjoint(B)

True

In [149]:
A.isdisjoint(C)

False

#### PYTHON ISSUBSET() METHOD
        **The issubset() method returns True if all elements of a set are present in another set (passed as an argument). If not, it returns False.

In [150]:
#Set A is said to be the subset of set B if all elements of A are in B .
A = {1, 2, 3}

In [151]:
B = {1, 2, 3, 4, 5}

In [152]:
C = {1, 2, 4, 5}

In [153]:
print(A.issubset(B))

True

In [154]:
print(C.issubset(B))

True

In [155]:
print(A.issubset(C))

False

#### PYTHON ISSUPERSET() METHOD
The issuperset() method returns True if a set has every elements of another set (passed as an argument). If not, it returns False.

In [156]:
#Set A is said to be the subset of set B if all elements of A are in B .

A = {1, 2, 3, 4, 5}

In [157]:
B = {1,2,3}

In [158]:
C = {3,4,5}

In [159]:
print(A.issuperset(B))

True

In [160]:
print(A.issuperset(C))

True

In [161]:
print(B.issuperset(A))

False

#### PYTHON SET POP() METHOD
            **The pop() method removes an arbitrary element from the set and returns the element removed.

In [162]:
A ={'a', 'b', 'c', 'd'}

In [163]:
print("value popped out is",A.pop())

value popped out is b

In [164]:
print(A)

{'c', 'a', 'd'}

#### PYTHON SET REMOVE() METHOD
           **The remove() method searches for the given element in the set and removes it.

In [170]:
A1 ={'a', 'b', 'c', 'd'}

In [171]:
A1.remove('b')

In [172]:
print(A1)

{'c', 'a', 'd'}

#### PYTHON SET SYMMETRIC_DIFFERENCE METHOD()
        **The symmetric_difference() returns a new set which is the symmetric difference of two sets.

In [179]:
#The symmetric difference of two sets A and B is the set of elements which are in either of the sets A or B but not in both.
A = {'a', 'b', 'c', 'd'}

In [180]:
B = {'c', 'd', 'e' }

In [181]:
C = {}

In [182]:
print(A.symmetric_difference(B))

{'b', 'a', 'e'}

In [183]:
print(B.symmetric_difference(A))

{'b', 'a', 'e'}

In [184]:
print(A.symmetric_difference(C))

{'b', 'c', 'a', 'd'}

In [185]:
print(B.symmetric_difference(C))

{'e', 'c', 'd'}

#### PYTHON SET SYMMETRIC_DIFFERENCE_UPDATE() METHOD
**The symmetric_difence_update() method updates the set calling the symmetric_difference_update() with the symmetric difference of sets.**

In [186]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 'e' }

In [187]:
result = A.symmetric_difference_update(B)

In [188]:
print('A = ', A)
print('B = ', B)
print('result = ', result)

A =  {'e', 'a'}
B =  {'e', 'c', 'd'}
result =  None

#### PYTHON SET UNION() METHOD
        **The union() method returns a new set with distinct elements from all the sets.**

In [192]:
# The union of two or more sets is the set of all distinct elements present in all the sets.
A = {'a', 'c', 'd'}

In [193]:
B = {'c', 'd', 2 }

In [194]:
C= {1, 2, 3}

In [195]:
print('A U B =', A.union(B))

A U B = {2, 'c', 'a', 'd'}

In [196]:
print('B U C =', B.union(C))

B U C = {1, 2, 'c', 3, 'd'}

In [197]:
print('A U B U C =', A.union(B, C))

A U B U C = {1, 2, 'c', 3, 'a', 'd'}

In [198]:
print('A.union() = ', A.union())

A.union() =  {'c', 'a', 'd'}

#### PYTHON SET UPDATE() METHOD
        *The update() adds elements from a set (passed as an argument) to the set (calling the update() method).*

In [199]:
set1 = {1,2,3}

In [202]:
set1.update('7')

In [203]:
print(set1)

{1, 2, 3, '7'}

In [205]:
set2 = {'a', 'b', 'c'}

In [206]:
set2.update(set1)

In [207]:
print(set2)

{'b', 1, 2, 'c', 3, 'a', '7'}

### 3. LIST VS TUPLE WITH EXAMPLE

In [3]:
# LIST IS MUTABLE WHERE AS TUPLE IS IMMUTABLE
# LIST IS DENOTED IN [ ] BRACKETS wheras TUPLE DENOTED in ()

In [4]:
#Creating a List
list1= ['tiger', 'rat', 'Lion']

In [5]:
list1.append('Dog')  #Mutable, They can be chnaged/appended/updated

In [6]:
print(list1)

['tiger', 'rat', 'Lion', 'Dog']

In [8]:
#creating a tuple
tuple1 = ('tiger', 'rat', 'Lion')

In [11]:
tuple1.append('dog')  #They cant be appended

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
tuple1[2] = 'dog'  #Immutable nature

TypeError: 'tuple' object does not support item assignment

### 4. SIMILARITY OF LIST AND TUPLE
#### . Tuples and lists are two similar sequences of the same programming language, Python
#### . Tuples are lists which can't be edited. Once you create a tuple, you cannot edit.

### 5. LIST VS SET WITH EXAMPLE

** There's a huge difference.

1. Sets can't contain duplicates
2. Sets are unordered
3. List can be 2-D whereas a set can't.
4. As list are ordered (IE. have serial number) list are comparatively slow to execute whereas sets are fast.
5. No indexing in set
6. list denoted in [], set in {}**

In [78]:
z =[1,2,3,4,3,4]

In [79]:
type(z)

list

In [80]:
z[1]   #Indexing is allowed

2

In [81]:
z

[1, 2, 3, 4, 3, 4]

In [82]:
set1 = {1,2,3,4,3,4}

In [83]:
type(set1)

set

In [84]:
set1[2]   #Set doesnot support indexing

TypeError: 'set' object does not support indexing

In [85]:
print(set1)  #NO duplicates

{1, 2, 3, 4}

### 6. TUPLE VS SET

** 1. Tuple is immutable and can be looked up by index**

** 2. Set is mutable and cant be looked by index **

In [61]:
tuple1 = ('tiger', 'rat', 'Lion')

In [62]:
type(tuple1)

tuple

In [64]:
tuple1[1]   #indexing allowed

'rat'

In [65]:
tuple1[1]= 'dog'  #Immutable

TypeError: 'tuple' object does not support item assignment

In [66]:
set1 = {1,2,3,4}

In [67]:
type(set1)

set

In [69]:
set1[1]  #Indexing not allowed

TypeError: 'set' object does not support indexing

In [72]:
set1.add('dog')  #mutable

In [73]:
set1

{1, 2, 3, 4, 'dog'}

### 7. CONVERT SET TO LIST AND TUPLE

** SET TO LIST**

In [74]:
my_set = {1,2,3,4}

In [75]:
my_list = list(my_set)

In [77]:
print(my_list)

[1, 2, 3, 4]

**SET TO TUPLE**

In [89]:
my_set1 = {1,2,3,4}

In [90]:
my_tuple = tuple(my_set1)

In [91]:
print(my_tuple)

(1, 2, 3, 4)

### 8. CONVERT LIST AND TUPLE TO SET

**LIST TO SET**

In [93]:
list1= [1,2,3,2]

In [94]:
my_set = set(list1)

In [95]:
print(my_set)

{1, 2, 3}

**TUPLE TO SET**

In [96]:
tuple1= (1,2,3,2)

In [98]:
my_set = set(tuple1)

In [99]:
print(my_set)

{1, 2, 3}