### DATA TYPES
    * Numbers
    * variables
    * List
    * Tuple
    * Set
    * Dictionary
    * String
    * Printing

### 1. NUMBERS

In [8]:
1 + 1 #Addition of two numbers

2

In [9]:
4 - 3 #Subtraction of two numbers

1

In [11]:
36 * 6 #Multiplying two numbers

216

In [12]:
4 ** 2 #performing a power b opeartion

16

In [4]:
6 / 2 #division of two numbers

3.0

In [5]:
6 % 2 #Opeartion to find the remainder of two numbers

0

In [7]:
(2 + 3) * (5 + 5)

50

### 2. VARIABLES

In [13]:
a = 4 #Assigning a integer number to variable

In [14]:
type(a) # print the data type

int

In [15]:
print(a)

4

In [16]:
b = 3.4 #Assigning a float number to variable

In [17]:
type(b) # print the data type

float

In [18]:
print(b)

3.4

In [19]:
c = True #Assigning a boolean value to variable

In [20]:
type(c) #Printing the data type

bool

In [21]:
print(c)

True

In [25]:
d = 'Hey' #Assigning a String value to variable

In [26]:
type(d)  #Printing the data type

str

In [27]:
print(d)

Hey

### 3. LIST
        * The list is a most versatile datatype available in Python which can be written as a list of comma-separated values (items) between square brackets. Important thing about a list is that items in a list need not be of the same type.

In [30]:
list1 = [1, 2, 3, 4, 5] #Creating a list

In [32]:
list2 = ['hey', 'hello', 'welcome']

In [56]:
list3 = [43, 55, 62, 2009]

##### Accessing the values in a list(Indexing, Slicing)
    *Because lists are sequences, indexing and slicing work the same way for lists as they do for strings.

In [73]:
list1

[1, 2, 3, 4, 5]

In [35]:
list1[0]

1

In [36]:
list1[1:3]

[2, 3]

In [37]:
list1[ :4]

[1, 2, 3, 4]

In [38]:
list1[3: ]

[4, 5]

In [39]:
list1[-1]

5

##### Updating a list

In [95]:
list2

['hey', 'hello world', 'welcome']

In [43]:
list2[1] = 'hello world' #Updating the second element in list 'hello' placed at index 1 with 'hello world'

In [44]:
list2

['hey', 'hello world', 'welcome']

##### Deleting list elements

In [57]:
list3

[43, 55, 62, 2009]

In [59]:
del list3[1] ##deleting the second element in list placed at index 1

In [60]:
list3

[43, 62, 2009]

##### Built-in List functions

In [68]:
list1

[1, 2, 3, 4, 5]

In [61]:
list3

[43, 62, 2009]

In [63]:
len(list3) #Gives the total length of the list.

3

In [65]:
max(list3) #Returns item from the list with max value.

2009

In [67]:
min(list3)  #Returns item from the list with min value.

43

In [72]:
sum(list3)  #Returns the total values after adding all items in list

2114

###### Nested List concept

In [74]:
my_nest_list = [1,2,3,[4,5,['target','hello']]]

In [75]:
print(my_nest_list)

[1, 2, 3, [4, 5, ['target', 'hello']]]

In [77]:
my_nest_list[0]

1

In [78]:
my_nest_list[1]

2

In [79]:
my_nest_list[2]

3

In [80]:
my_nest_list[3]  #Now it doesnot print 4, instead it prints the whole nested list

[4, 5, ['target', 'hello']]

In [82]:
my_nest_list[3][2]  #To access one more nested list inside this list

['target', 'hello']

In [83]:
my_nest_list[3][2][0]

'target'

In [84]:
my_nest_list[3][2][1]

'hello'

In [85]:
my_nest_list[3][2][0][0]

't'

##### ***Python List() Methods- Refer assignment1 for python list() methods***

### 4. Tuple
        *A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [86]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8) #Creating a tuple, tuples use parentheses whereas lists use square brackets.

In [87]:
type(tuple1)

tuple

##### Accessing the values in a tuple(Indexing, Slicing)
    *Because tuples are sequences, indexing and slicing work the same way for lists as they do for strings.

In [88]:
tuple1

(1, 2, 3, 4, 5, 6, 7, 8)

In [89]:
tuple1[1]

2

In [90]:
tuple1[-2]

7

In [92]:
tuple1[2:7]

(3, 4, 5, 6, 7)

In [93]:
tuple1[ :5]

(1, 2, 3, 4, 5)

In [94]:
tuple1[3: ]

(4, 5, 6, 7, 8)

##### Updating a tuple

In [96]:
tuple1

(1, 2, 3, 4, 5, 6, 7, 8)

In [98]:
tuple1[2] = 45 #Following action is not valid for tuples. tuple cant be changed i,e its is immutable

TypeError: 'tuple' object does not support item assignment

In [100]:
tuple1.append(47)  #Following action is not valid for tuples. tuple cant be changed i,e its is immutable

AttributeError: 'tuple' object has no attribute 'append'

##### Deleting element in a tuple

In [101]:
tuple1

(1, 2, 3, 4, 5, 6, 7, 8)

In [102]:
del tuple1[2]  #Following action is not valid for tuples. tuple cant be changed i,e its is immutable

TypeError: 'tuple' object doesn't support item deletion

##### Built-in Tuple functions and methods

In [118]:
tuple2 = (4, 6, 65, 13, 24, 1, 6)

In [119]:
len(tuple2)  #Gives the total length of the tuple.

7

In [120]:
max(tuple2)  #Returns item from the tuple with max value.

65

In [121]:
min(tuple2)  #Returns item from the tuple with min value.

1

In [122]:
tuple2.count(6)  #The method count() returns count of how many times obj occurs in list.

2

In [128]:
tuple2.index(1)  #The method index() returns the lowest index in list that obj appears.

5

### 5. SET
        *A set is an unordered collection of items. A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function

In [3]:
set1 = {1,2,3,4,5} #creating a set

In [4]:
type(set1)

set

In [5]:
print(set1)

{1, 2, 3, 4, 5}

In [6]:
set1

{1, 2, 3, 4, 5}

In [7]:
#Set cant be accessed with index
set1[1]

TypeError: 'set' object does not support indexing

##### Built-in set functions and methods

In [8]:
set1

{1, 2, 3, 4, 5}

In [9]:
len(set1)  #Gives the total length of the tuple.

5

In [10]:
max(set1)  #Returns item from the tuple with max value.

5

In [12]:
min(set1)  #Returns item from the tuple with min value.

1

### 6. DICTIONARIES
        * It has a key value pair. Each key is seperated from its value by colon(:), the items are seperated by commas and whole thing is represnted in curly braces { }. Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

In [6]:
dict1 = {'Name':'hemanth', 'Age':'23', 'Country':'India', "hobbies":["cricket","Cycling","Browsing"]}

In [7]:
type(dict1)

dict

In [9]:
dict1['Name']

'hemanth'

In [10]:
dict1['Age']

'23'

In [11]:
dict1['Country']

'India'

In [12]:
dict1["hobbies"]

['cricket', 'Cycling', 'Browsing']

In [13]:
dict1["hobbies"][0]

'cricket'

In [14]:
dict1["hobbies"][1]

'Cycling'

In [15]:
dict1["hobbies"][2]

'Browsing'

##### Updating a dictionary

In [21]:
dict1

{'Age': '23',
 'Country': 'India',
 'Name': 'hemanth',
 'hobbies': ['cricket', 'Cycling', 'Browsing']}

In [23]:
dict1["Name"] = 'kocherlakota'

In [24]:
print(dict1)

{'Name': 'kocherlakota', 'Age': '23', 'Country': 'India', 'hobbies': ['cricket', 'Cycling', 'Browsing']}

##### Deleteing a dictionary

In [25]:
dict1

{'Age': '23',
 'Country': 'India',
 'Name': 'kocherlakota',
 'hobbies': ['cricket', 'Cycling', 'Browsing']}

In [26]:
del dict1['hobbies']

In [27]:
print(dict1)

{'Name': 'kocherlakota', 'Age': '23', 'Country': 'India'}

##### Built-in dictionary functions

In [28]:
dict1

{'Age': '23', 'Country': 'India', 'Name': 'kocherlakota'}

In [29]:
len(dict1)   #Gives the total length of the dictionary. This would be equal to the number of items in the dictionary.

3

In [30]:
str(dict1)   #Produces a printable string representation of a dictionary

"{'Name': 'kocherlakota', 'Age': '23', 'Country': 'India'}"

### 7. STRING
        * Strings are amongst the most popular types in Python. We can create them simply by enclosing characters in quotes. Python treats single quotes the same as double quotes

In [1]:
'single quotes'

'single quotes'

In [2]:
"double quotes"

'double quotes'

In [3]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [4]:
s1 = 'Hello string 1'

In [5]:
type(s1)

str

In [6]:
print(s1)

Hello string 1

##### Accessing Values in Strings

In [12]:
s1[0]

'H'

In [13]:
s1[8]

'r'

In [14]:
s1[2:5]

'llo'

In [15]:
s1[ :3]

'Hel'

In [16]:
s1[2: ]

'llo string 1'

In [17]:
s1[-4]

'n'

##### Updating Strings

In [21]:
s1

'Hello string 1'

In [23]:
s1[:6] + 'world'

'Hello world'

##### String Special Operators

In [24]:
a = 'hello'

In [34]:
b= 'world'

In [26]:
a + b  #Concatenation - Adds values on either side of the operator

'helloworld'

In [29]:
a * 3   #Repetition - Creates new strings, concatenating multiple copies of the same string

'hellohellohello'

In [30]:
b[1]   #[] is a slice operator, Slice - Gives the character from the given index

'o'

In [31]:
b[0:3]  #[ : ] is a range slice operator, Range Slice - Gives the characters from the given range

'wor'

In [38]:
print("My name is %s and weight is %d kg!" % ('teja', 80))   # % is a formatting operator

My name is teja and weight is 80 kg!

### 8. PRINTING IN PYTHON

In [39]:
x = 'hello'

In [40]:
print(x)

hello

In [41]:
#Instead of using %(formatting operator) we have something called place holder in python where we use a format function
num = 17

In [42]:
name = 'sai'

In [43]:
print('my name is :{}, my num is: {}'.format(name,num))

my name is :sai, my num is: 17

In [48]:
city = 'hyd'

In [49]:
color = 'black'

In [54]:
print('my city is {} and I love {} color'.format(city,color))

my city is hyd and I love black color